<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cheerio Mongoose Homework</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            margin: 10px;
        }

        .clicked {
            background-color: yellow;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <input class="btn-primary btn-lg" id="btnScrap" type="button" value="Scrape it">
                </li>
                <li>
                    <input class="btn-primary btn-lg" id="btnSaved" type="button" value="Saved">
                </li>
            </ul>
        </nav>
        <br>
        <div class="jumbotron text-center">
            <h1>MONGO SCRAPER</h1>
            <p>New York Times Edition</p>
        </div>
        <br> {{{body}}}
    </div>
    <script src="assets/javascript/mainjs.js"></script>
</body>

</html>