<input  id="btnScrap" type="button" value="Scrape it">
<input id="btnSaved" type="button" value="Saved">
 <div id="results"></div>


 <!-- Modal -->
  <div class="modal fade " id="addNoteModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="articleId"></h4>
        </div>
        <div class="modal-body">
          <div id="notesDiv"></div>
        <div class="input-group input-group-lg">
        <input class="form-control" id="txtNote" type="text" placeholder="New Note">
      </div>
        </div>
        <div class="modal-footer">
          <button id="btnAddComment" type="button" class="btn btn-default" data-dismiss="modal">Save Notes</button>
        </div>
      </div>
    </div>
  </div>